<div class="row">
    <div class="col-md-8">
        <!-- Login screen -->
        <div class="card">
            <div class="header">
                <!-- <h4 class="title">Login</h4> -->
            </div>
            <div class="content">
                <div class="row">
                    <!-- Logo -->
                    <div class="col-md-4">
                        <img class="img-responsive center-block" src="assets/img/logo.png">
                    </div>
                    <!-- Login form -->
                    <div class="col-md-6">
                        <form>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>User name</label>
                                        <input type="text" class="form-control" ng-model="credentials.username">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input type="password" class="form-control" ng-model="credentials.password">
                                    </div>
                                </div>
                            </div>                    
                            <div class="col-md-12 btn-group btn-group"> 
                                <button type="submit" class="btn btn-info btn-fill" ng-click="login(credentials)">Login</button>
                            </div>
                            <div class="clearfix"></div>
                        </form>                        
                    </div>
            </div>
        </div>
</div>

<div class="row">
    <div class="col-md-6">
    </div>
   
</div>